body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.m {
    color:black;
    border-radius: 15px; /* Сглаженные углы */
    padding: 20px;
    text-align: center; /* Центрирование текста */
    opacity: 0;
    transform: translateY(-50px);
    animation: appear 2s forwards;
    margin-bottom: 20px; /* Отступ снизу */
    
}
@keyframes appear {
            0% {
                opacity: 0;
                transform: translateY(-50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }


        img {
            width: 300px; /* Ширина изображения */
            border-radius: 15px; /* Сглаженные углы для изображения */
            opacity: 0;
            animation: imageFadeIn 2s forwards;
            display: block; /* Отображение изображения как блочного элемента */
            margin: 20px auto; /* Центрирование изображения */
        }

        @keyframes imageFadeIn {
            0% {
                opacity: 0;
                transform: scale(0.9);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
button {
    text-align: center;
}
a {
    text-align: center;
     border-radius: 15px; /* Сглаженные углы */
    
    opacity: 0;
    transform: translateY(-50px);
    animation: appear 2s forwards;
    margin-bottom: 20px; /* Отступ снизу */
}
.chat-container {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
}

.chat-message {
    margin: 5px 0;
}

.user {
    text-align: right;
}

.bot {
    text-align: left;
}

#user-input {
    width: calc(100% - 70px);
    padding: 10px;
}

#send-button {
    padding: 10px;
}